#menu
{
	position: fixed;
	width: 100%;
	height: 80px;
	background: blanchedalmond;
	
}

html, body 
{
	height: 100%;
}
.all{
	height: 100%;
	
}

.h3{width: 100%; }

.h1{
	margin: 10px 0 20px;
	display: block;
    font-size: 2em;
    align-self: center;
    width: 100%; 
    text-align: center;
}

h1 span { 
    padding:0 10px;
}


body{
	background-image: url(back2.PNG);
	-webkit-backdrop-size:color;
	background-size: cover;
	background-position: center center;
	height: 100%;
    box-sizing: border-box;
	font-family:Arial, Helvetica, sans-serif; ;
	background-position: center;
}

menu ul
{

}

div ul li
{
	list-style-type: none;	
	width: 150px;
	float: left;
	
}
li a{
	text-decoration: none;
	color: rgb(5, 22, 37);
	line-height:50px ;
	display: block;
}
li a:hover{
	background-color: cadetblue;
	color: rgb(253, 252, 252);
}
*{
	box-sizing: border-box;
}

.image1
{
	width: 100px;
	height: auto;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.column {
	float: left;
	width: 33.33%;
	padding: 5px;
  }
  
  .row::after {
	content: "";
	clear: both;
	display: table;
  }

  p { 
	margin: auto; /* Important */ 
	text-align: center; 
  }
  
  section {  
	width: 100%; 
	height: 500px; 
	margin: 20px; 
	border: 3px dashed #1c87c9;
	text-align: center; 
	display: table;
  } 

